:root{
  --color-black: #000000;
  --color-black-light: #1a1a1a;
  --color-black-dark: #333333;

  --color-light: #e6e6e6;
  --color-white: #f1f1f1;
  --color-white-primary: #ffffff;
}

*,
*::after,
*::before{
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body, html{
  height: 100%;
  overflow-x: hidden;
  font-size: 62.5%;
  font-family: 'Open Sans', sans-serif;
}

body{
  box-sizing: border-box;  
  background: var(--color-black);
}

body,
h1,
h2,
h3,
ul,
li,
p,
a{
  margin: 0;
  padding: 0;
}

ul,
li{
  list-style: none;
}

a{
  text-decoration: none;
}

img{
  display: block;
  max-width: 100%;
}

.active{
  color: var(--color-white) !important;
  background-color: #1a1a1a;
  box-shadow: 0 1px 2px rgba(0,0,0,0.2);

}

/* classe gerada pelo react */
#root{
  display: flex !important;
  flex-direction: column !important;  
  height: 100vh !important;
}

.main{
  flex: 1;
}

.container{
  max-width: 94rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.animeSection{
  transform: translateY(30px);
  animation: animeSection 1s forwards;
  opacity: 0;
  
}
.animeItem{
  transform: translateX(30px);
  animation: animeItem 2s forwards;
  opacity: 0;
  
}

@keyframes animeSection {
  to{
    transform: initial;
    opacity: 1;
  }
  
}

@keyframes animeItem {
  to{
    transform: initial;
    opacity: 1;
  }
  
}

.animeLeft{
  transform: translateY(30px);
  animation: animeLeft 1s forwards;
  opacity: 0;
  
}

@keyframes animeLeft {
  to{
    transform: initial;
    opacity: 1;
  }
  
}